// Fonts preferences
$sans-family: Fira Mono, sans-serif;
$mono-family: Fira Mono, monospace;
$base-font-size: 16px;
$medium-font-size: $base-font-size * 0.938;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.85;

// Font weight
// $light-weight: 300; // uncomment if necessary
$normal-weight: 400;
$bold-weight: 700;
// $black-weight: 900; // uncomment if necessary

//Light Colors
$text-base-color: #434648;
$text-link-blue: #003fff;
$text-link-blue-active: #0036c7;

$black: #0d122b;
$light: #ececec;
$smoke: #f5f5f5;
$gray: #6b7886;
$white: #fff;

$mail-color: #d32f2f;
$github-color: #455a64;
$linkedin-color: #0288d1;

$mail-color-pressed: #9a0007;
$github-color-pressed: #1c313a;
$linkedin-color-pressed:#005b9f;

// Dark Colors
$dark-text-base-color: #c7bebe;
$dark-text-link-blue: #8ac148;
$dark-text-link-blue-hover: #599014;
$dark-text-link-blue-active: #276200;

$dark-black: #000000;
$dark-white: #eaeaea;
$dark-light: #1b1d25;
$dark-smoke: #4a4d56;
$dark-gray: #767f87;
$material-dark: #212121;

// Width of the content area
$wide-size: 890px;
$narrow-size: 720px;

// Padding unit
$spacing-full: 30px;
$spacing-half: $spacing-full / 2;

// State of devices
$on-mobile: 768px;
$on-tablet: 769px;
$on-desktop: 1024px;
$on-widescreen: 1152px;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import sass files
@import "klise/fonts", "klise/base", "klise/layout", "klise/post",
  "klise/miscellaneous", "klise/syntax", "klise/dark";
