---
layout: default
---

<div class="container">
  <!-- begin post -->
  <article class="post">
    <div class="post__head" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-duration="500">
      <h1 class="post__title">{{ page.title | escape }}</h1>
      <div class="post__date">
        <time datetime="{{ page.date | date_to_xmlschema }}">Posted {{page.date | date: '%b %d, %Y'}}</time>
      </div>
      {% if page.image %}
      <div class="post-image img-blur" style="background-image: url({{site.baseurl}}{{page.image}})"></div>
      {% endif %}
    </div>

    <div class="post__content" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-delay="100" data-aos-duration="700">
      {{ content }}
    </div>

    {% if page.tags.size >= 1 %}
    <div class="post-tags">
      {% for tag in page.tags %}
      <a href="{{ site.baseurl }}/tag/{{ tag }}" class="post-tags__tag">{{ tag }}</a>
      {% endfor %}
    </div>
    {% endif %}

    <div class="post__navigation">
      {% if page.previous.url %}
      <a class="prev" href="{{site.baseurl}}{{page.previous.url}}">
        <div class="prev__post-icon">
          <svg enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m352 128.4-32.3-32.4-159.7 160 159.7 160 32.3-32.4-127.3-127.6z"/></svg>
        </div>
        <span class="post__nav-wrapper">
          <div class="post__nav-image" style="background-image: url({{site.baseurl}}{{page.previous.image}})"></div>
          <h2 class="post__nav-title"><time datetime="{{ page.date | date_to_xmlschema }}">{{page.date | date: '%b %d, %Y'}}</time> <br>{{page.previous.title}}</h2>
        </span>
      </a>
      {% endif %}

      {% if page.next.url %}
      <a class="next" href="{{site.baseurl}}{{page.next.url}}">
        <div class="next__post-icon">
          <svg enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m160 128.4 32.3-32.4 159.7 160-159.7 160-32.3-32.4 127.3-127.6z"/></svg>
        </div>
        <span class="post__nav-wrapper">
          <div class="post__nav-image" style="background-image: url({{site.baseurl}}{{page.next.image}})"></div>
          <h2 class="post__nav-title"><time datetime="{{ page.date | date_to_xmlschema }}">{{page.date | date: '%b %d, %Y'}}</time> <br>{{page.next.title}}</h2>
        </span>
      </a>
      {% endif %}
    </div>

    {% if site.disqus-identifier %}
      {% include show-disqus.html %}
    {% endif %}

  </article>
  <!-- end post -->
</div>
